<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>k3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>k3u-file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/k3u</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>k3u</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>KSSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>k3u-file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/m3u</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>m3u</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>KSSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kss</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>kss-file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>bin/kss</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>kss</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>KSSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>kss-file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>bin/kss</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mpk</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>KSSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mgs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>kss-file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>bin/kss</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mgs</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>KSSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>kss-file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>bin/kss</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>opx</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>KSSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mbm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>kss-file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>bin/kss</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mbm</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>KSSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>kss</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KSS-X</string>
	<key>CFBundlePackageType</key>
	<string>k3ux</string>
	<key>CFBundleSignature</key>
	<string>KSSX</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
